<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Pixel Online">
        <meta name="author" content="Noli">
        <title>PixOn</title>
        <script src="views/jquery.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="views/bootstrap/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="views/bootstrap/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="views/bootstrap/js/bootstrap.min.js"></script>
        <script src="views/socketio.js"></script>
    </head>

    <style>

    </style>

    <body id="body">
        <h1>Shortcuts</h1>
        <p>
            Maj + clic : Pipette Tool<br>
            Alt + clic : Pipette Tool<br>
            Ctrl + mousewheel : Zoom in/out<br>
            Pav num +/- : Zoom in/out<br>
        </p>

        <h1>Scripting</h1>
        <p>
            fillRect(x, y, width, height, hexColor="#ffffff")<br>
            fillRect2(x1, y1, x2, y2, hexColor="#ffffff")<br>
            clear(hexColor="#ffffff")<br>
        </p>

    </body>
</html>
