<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Pixel Online">
        <meta name="author" content="Noli">
        <meta name="author" content="flupe">
        <title>PixOn</title>
        <style>
          body {
              margin: 0;
              padding: 0;
              overflow: hidden;
          }
        </style>
    </head>
    <body>
        <script src="dist/client.js"></script>
    </body>
</html>
